adjusttext==1.3.0
axial-positional-embedding==0.3.12
caerus==1.0.1
certifi==2025.10.5
charset-normalizer==3.4.4
colorama==0.4.6
colt5-attention==0.11.1
contourpy==1.3.3
cycler==0.12.1
datazets==1.1.3
debugpy==1.8.17
einops==0.8.1
filelock==3.20.0
findpeaks==2.7.5
fonttools==4.60.1
fsspec==2025.9.0
hyper-connections==0.2.1
idna==3.11
jinja2==3.1.6
joblib==1.5.2
kiwisolver==1.4.9
local-attention==1.11.2
markupsafe==3.0.3
matplotlib==3.10.7
mpmath==1.3.0
networkx==3.5
numpy==2.2.6
opencv-python-headless==4.12.0.88
packaging==25.0
pandas==2.3.3
patool==4.0.2
pillow==12.0.0
platformdirs==4.5.0
product-key-memory==0.2.11
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
pywavelets==1.9.0
pyyaml==6.0.3
reformer-pytorch==1.4.4
requests==2.32.5
scikit-base==0.12.6
scikit-learn==1.7.2
scipy==1.16.2
six==1.17.0
sktime==0.39.0
sympy==1.14.0
threadpoolctl==3.6.0
tqdm==4.67.1
typing-extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
xarray==2025.10.1
